/* Footer */

.footer {
    padding: 2rem 0;

    >.flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 30px;
        width: 30px;
    }

    a {
        border-radius: 0.35rem;
        margin: 0 0.05rem;
        font-weight: 400;
        font-size: 1rem;
        border: 1px solid transparent;
        padding: 0.5rem;
        margin: 0 0.5rem;
        color: var(--light-font-color);

        &:hover {
            color: var(--heading-color);
            background: var(--light-background);
        }

        &.img {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0 0.75rem;
            background: none;
        }
    }
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex nav {
    padding: 1rem 0;
}

@media screen and (min-width: 800px) {
    .footer {
        >.flex {
            align-items: flex-start;
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }

        a {
            padding: 0.75rem;

            &.img {
                padding: 0 0.5rem;
                margin: 0 1rem;
            }
        }
    }

}

@media print {
    .footer {
        display: none;
    }
}

.friendurl {
    text-decoration: none !important;
    box-shadow: none !important;
}

.myfriend {
    width: 56px !important;
    height: 56px !important;
    border-radius: 50%!important;
    padding: 2px;
    margin-top: 20px !important;
    margin-left: 14px !important;
    background-color: var(--light-transparent-bg);
}

.frienddiv {
    overflow: auto;
    height: 100px;
    width: 49%;
    display: inline-block !important;
    border-radius: 5px;
    background: none;
    
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.dark .frienddiv:hover {
    background: var(--code-bg);
}

.frienddiv:hover {
    background: var(--theme);
    transition: transform 1s;
    webkit-transform: scale(1.1);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.1);
}

.frienddiv:hover .frienddivleft img { 
    transition: 0.9s !important;
    -webkit-transition: 0.9s !important;
    -moz-transition: 0.9s !important;
    -o-transition: 0.9s !important;
    -ms-transition: 0.9s !important;
    transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    -moz-transform: rotate(360deg) !important;
    -o-transform: rotate(360deg) !important;
    -ms-transform: rotate(360deg) !important;
}

.frienddivleft {
    width: 92px;
    float: left;
    margin-right: -5px;
}

.frienddivright {
    margin-top: 18px;
    margin-right: 18px;
}

.friendname {
    text-overflow: ellipsis;
    font-size: 100%;
    margin-bottom: 5px;
    color: var(--h1-color);
}

.friendinfo {
    text-overflow: ellipsis;
    font-size: 70%;
    color: var(--font-color);
}

@media screen and (max-width: 600px) {
    .friendinfo {
        display: none;
    }
    .frienddivleft {
        width: 84px;
        margin: auto;
    }
    .frienddivright {
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .friendname {
        font-size: 18px;
    }
}