
.friendurl {
    text-decoration: none !important;
    box-shadow: none !important;
}

.myfriend {
    width: 3.5rem !important;
    height: 3.5rem !important;
    border-radius: 50%!important;
    margin-top: 0.5rem !important;
    margin-left: 0.5rem !important;
    background-color: var(--light-transparent-bg);
}

.frienddiv {
    overflow: auto;
    height: 5rem;
    width: 49%;
    display: inline-block !important;
    border-radius: 0.5rem;
    background: none;
    
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
}

.dark .frienddiv:hover {
    background: var(--code-bg);
}

.frienddiv:hover {
    background: var(--theme);
    transition: transform 0.7s;
    webkit-transform: scale(1.1);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.1);
}

.frienddiv:hover .frienddivleft img { 
    transition: 0.7s !important;
    -webkit-transition: 0.7s !important;
    -moz-transition: 0.7s !important;
    -o-transition: 0.7s !important;
    -ms-transition: 0.7s !important;
    transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    -moz-transform: rotate(360deg) !important;
    -o-transform: rotate(360deg) !important;
    -ms-transform: rotate(360deg) !important;
}

.frienddivleft {
    width: 6rem;
    float: left;
    margin-right: -0.5rem;
}

.frienddivright {
    margin-top: 0.7rem;
    margin-right: 0.2rem;
}

.friendname {
    text-overflow: ellipsis;
    font-size: 100%;
    margin-bottom: 0.1rem;
    color: var(--h1-color);
}

.friendinfo {
    text-overflow: ellipsis;
    font-size: 70%;
    color: var(--font-color);
}

@media screen and (max-width: 600px) {
    .frienddiv {
        width: 100%;
    }
    .friendinfo {
        display: none;
    }
    .frienddivleft {
        margin: auto;
    }
    .frienddivright {
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    .friendname {
        font-size: 1.3rem;
    }
}
